<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.capgemini.mapper.PoInfoMapper">


    <select id="queryPoInfoById" parameterType="Integer" resultType="PoInfoEntity">
        SELECT
        *
        FROM po_info
        WHERE `ID` = #{_parameter} AND `DELETE_FLAG` = 1
    </select>

    <select id="queryPoInfoByPoNo" parameterType="String" resultType="PoInfoEntity">
        SELECT
        *
        FROM po_info
        WHERE `PO_NO` = #{_parameter} AND `DELETE_FLAG` = 1
    </select>

    <insert id="savePoInfoEntity" parameterType="PoInfoEntity">
        insert into po_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
	        <if test="code!=null">code,</if>
	        <if test="poName!=null">po_name,</if>
	        <if test="startDate!=null">start_date,</if>
	        <if test="endDate!=null">end_date,</if>
	        <if test="poNo!=null">po_no,</if>
	        <if test="poDesc!=null">po_desc,</if>
	        <if test="poStatus!=null">po_status,</if>
	        <if test="poInitialTotalManday!=null">PO_INITIAL_TOTAL_MANDAY,</if>
	        <if test="poTotalAmountEx!=null">PO_TOTAL_AMOUNT_EX,</if>
	        <if test="poTotalAmountIn!=null">PO_TOTAL_AMOUNT_IN,</if>
	        <if test="billedAmtIn!=null">BILLED_AMT_IN,</if>
	        <if test="poAvailableAmtIn!=null">PO_AVAILABLE_AMT_EX,</if>
	        <if test="totalBurnedManday!=null">TOTAL_BURNED_MANDAY,</if>
	        <if test="balanceManday!=null">BALANCE_MANDAY,</if>
	        <if test="contentType!=null">content_type,</if>
	        <if test="vat!=null">vat,</if>
	        <if test="poComment!=null">po_comment,</if>
	        <if test="createDate!=null">create_date,</if>
	        <if test="lastupdateDate!=null">lastupdate_date,</if>
	        <if test="creatBy!=null">creat_by,</if>
	        <if test="lastupdateBy!=null">lastupdate_by,</if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
        	<if test="code!=null">#{code},</if>
	        <if test="poName!=null">#{poName},</if>
	        <if test="startDate!=null">#{startDate},</if>
	        <if test="endDate!=null">#{endDate},</if>
	        <if test="poNo!=null">#{poNo},</if>
	        <if test="poDesc!=null">#{poDesc},</if>
	        <if test="poStatus!=null">#{poStatus},</if>
	        <if test="poInitialTotalManday!=null">#{poInitialTotalManday},</if>
	        <if test="poTotalAmountEx!=null">#{poTotalAmountEx},</if>
	        <if test="poTotalAmountIn!=null">#{poTotalAmountIn},</if>
	        <if test="billedAmtIn!=null">#{billedAmtIn},</if>
	        <if test="poAvailableAmtIn!=null">#{poAvailableAmtIn},</if>
	        <if test="totalBurnedManday!=null">#{totalBurnedManday},</if>
	        <if test="balanceManday!=null">#{balanceManday},</if>
	        <if test="contentType!=null">#{contentType},</if>
	        <if test="vat!=null">#{vat},</if>
	        <if test="poComment!=null">#{poComment},</if>
	        <if test="createDate!=null">CURRENT_TIMESTAMP,</if>
	        <if test="lastupdateDate!=null">CURRENT_TIMESTAMP,</if>
	        <if test="creatBy!=null">#{creatBy},</if>
	        <if test="lastupdateBy!=null">#{lastupdateBy},</if>
        </trim>
    </insert>

    <update id="updatePoInfoEntity" parameterType="PoInfoEntity">
        UPDATE po_info
        <set>
	        <if test="poName!=null">po_name=#{poName},</if>
	        <if test="startDate!=null">start_date=#{startDate},</if>
	        <if test="endDate!=null">end_date=#{endDate},</if>
	        <if test="createDate!=null">create_date=#{createDate},</if>
	        <if test="lastupdateDate!=null">lastupdate_date=CURRENT_TIMESTAMP,</if>
	        <if test="creatBy!=null">creat_by=#{creatBy},</if>
	        <if test="lastupdateBy!=null">lastupdate_by=#{lastupdateBy},</if>
	        <if test="poNo!=null">po_no=#{poNo},</if>
	        <if test="poDesc!=null">po_desc=#{poDesc},</if>
	        <if test="poStatus!=null">po_status=#{poStatus},</if>
	        <if test="poInitialTotalManday!=null">po_initial_total_manday=#{poInitialTotalManday},</if>
	        <if test="poTotalAmountEx!=null">po_total_amount_ex=#{poTotalAmountEx},</if>
	        <if test="poTotalAmountIn!=null">po_total_amount_in=#{poTotalAmountIn},</if>
	        <if test="billedAmtIn!=null">billed_amt_in=#{billedAmtIn},</if>
	        <if test="poAvailableAmtIn!=null">po_available_amt_in=#{poAvailableAmtIn},</if>
	        <if test="totalBurnedManday!=null">total_burned_manday=#{totalBurnedManday},</if>
	        <if test="balanceManday!=null">balance_manday=#{balanceManday},</if>
	        <if test="contentType!=null">content_type=#{contentType},</if>
	        <if test="vat!=null">vat=#{vat},</if>
	        <if test="poComment!=null">po_comment=#{poComment},</if>
        </set>
        WHERE `PO_NO` = #{poNo} AND `DELETE_FLAG` = 1
    </update>

    <update id="deletePoInfoByCode" parameterType="String">
        UPDATE po_info
        SET delete_flag=0
        WHERE `CODE` = #{_parameter}
    </update>

    <update id="deletePoInfoById" parameterType="Integer">
        UPDATE po_info
        SET delete_flag=0
        WHERE `ID` = #{_parameter}
    </update>

    <select id="queryPoInfos" resultType="PoInfoEntity">
        SELECT
        *
        FROM po_info
        WHERE `DELETE_FLAG` = 1
        order by create_date desc
        limit 1000
    </select>

    <select id="queryPoInfosByCode" parameterType="String" resultType="PoInfoEntity">
      SELECT
        *
      FROM po_info
        WHERE `DELETE_FLAG` = 1
        <if test="_parameter != null and _parameter != '' ">
            AND `CODE` = #{_parameter}
        </if>
      order by create_date desc
      limit 10
    </select>

</mapper>