<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.capgemini.mapper.RoleInfoMapper">


    <insert id="saveRoleInfoEntity" parameterType="RoleInfoEntity">
        insert into role_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
	        <if test="poRole != null">po_role,</if>
	        
	        <if test="totalAmountIn != null">total_amount_in,</if>
	        <if test="burnedAmountIn != null">burned_amount_in,</if>
	        <if test="balanceAmountIn != null">balance_amount_in,</if>
	        <if test="rateIn != null">rate_in,</if>
	        
	        <if test="billableManday != null">billable_manday,</if>
	        <if test="burnedManday != null">burned_manday,</if>
	        <if test="balanceManday != null">balance_manday,</if>
	        
	        <if test="roleComment != null">role_comment,</if>
	        <if test="poId != null">po_id,</if>
	        <if test="createDate != null">create_date,</if>
	        <if test="lastupdateDate != null">lastupdate_date,</if>
	        <if test="creatBy != null">creat_by,</if>
	        <if test="lastupdateBy != null">lastupdate_by,</if>
	        <if test="startDate != null">start_date,</if>
	        <if test="endDate != null">end_date,</if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
        	<if test="poRole != null">#{poRole},</if>
        	
	        <if test="totalAmountIn != null">#{totalAmountIn},</if>
	        <if test="burnedAmountIn != null">#{burnedAmountIn},</if>
	        <if test="balanceAmountIn != null">#{balanceAmountIn},</if>
	        <if test="rateIn != null">#{rateIn},</if>
	        
	        <if test="billableManday != null">#{billableManday},</if>
	        <if test="burnedManday != null">#{burnedManday},</if>
	        <if test="balanceManday != null">#{balanceManday},</if>
	        
	        <if test="roleComment != null">#{roleComment},</if>
	        <if test="poId != null">#{poId},</if>
	        <if test="createDate != null">CURRENT_TIMESTAMP,</if>
	        <if test="lastupdateDate != null">CURRENT_TIMESTAMP,</if>
	        <if test="creatBy != null">#{creatBy},</if>
	        <if test="lastupdateBy != null">#{lastupdateBy},</if>
	        <if test="startDate != null">#{startDate},</if>
	        <if test="endDate != null">#{endDate},</if>
        </trim>
    </insert>
          
    <select id="queryRoleInfoById" parameterType="Integer" resultType="RoleInfoEntity">
        SELECT
          *
        FROM role_info
        WHERE `ID` = #{_parameter} AND `DELETE_FLAG` = 1
    </select>

    <update id="deleteRoleInfoById" parameterType="Integer">
      UPDATE role_info
      SET delete_flag=0
      WHERE `ID` = #{_parameter}
    </update>

    <update id="updateRoleInfoById" parameterType="RoleInfoEntity">

    update role_info
	<set>
	   		<if test="poRole != null">po_role=#{poRole},</if>
	        <if test="totalAmountIn != null">total_amount_in = #{totalAmountIn},</if>
	        <if test="burnedAmountIn != null">burned_amount_in = #{burnedAmountIn},</if>
	        <if test="balanceAmountIn != null">balance_amount_in = #{balanceAmountIn},</if>
	        <if test="startDate != null">start_date = #{startDate},</if>
	        <if test="endDate != null">end_date = #{endDate},</if>
	        <if test="createDate != null">create_date = #{createDate},</if>
	        <if test="lastupdateDate != null">lastupdate_date = CURRENT_TIMESTAMP,</if>
	        <if test="creatBy != null">creat_by = #{creatBy},</if>
	        <if test="lastupdateBy != null">lastupdate_by = #{lastupdateBy},</if>
	        <if test="rateIn != null">rate_in = #{rateIn},</if>
	        <if test="billableManday != null">billable_manday = #{billableManday},</if>
	        <if test="burnedManday != null">burned_manday = #{burnedManday},</if>
	        <if test="balanceManday != null">balance_manday = #{balanceManday},</if>
	        <if test="roleComment != null">role_comment = #{roleComment},</if>
	        <if test="poId != null">po_id = #{poId},</if>
    </set>	     
    where `ID` = #{id} AND `DELETE_FLAG` = 1
    </update>

    <!--<update id="updateRoleInfoAmountById" parameterType="RoleInfoEntity">
      update role_info
      set
        `BURNED_AMOUNT`=`BURNED_AMOUNT`+#{burnedAmount}, `BALANCE_AMOUNT`=`BALANCE_AMOUNT`-#{burnedAmount},
        `LASTUPDATE_DATE`=#{lastupdateDate}, `LASTUPDATE_BY`=#{lastupdateBy}
      where `ID` = #{id}
    </update>-->

    <select id="queryRoleInfoByPoId" parameterType="Integer" resultType="RoleInfoEntity">
        SELECT
        *
        FROM role_info
        WHERE `PO_ID` = #{_parameter} AND `DELETE_FLAG` = 1
    </select>

</mapper>